<div class="panel panel-default alone">
  <div class="panel-body">
    <h1 id="title">فهرس دروس روبي</h1>

    <ul class="set-margin-bottom-to-zero lists">
      <li><strong><%= link_to "المقدمة", ruby_tutorial_introduction_path, class: "index-link" %></strong></li>
      <li><strong><%= link_to "التنصيب", ruby_tutorial_installation_path, class: "index-link" %></strong>
        <ul>
          <li>ما هي روبي ؟</li>
          <li>تنزيل روبي</li>
        </ul>
      </li>
      <li><strong><%= link_to "برنامجك الاول", ruby_tutorial_first_program_path, class: "index-link" %></strong></li>
      <li><strong><%= link_to "مميزات روبي", ruby_tutorial_features_path, class: "index-link" %></strong></li>
      <li><strong><%= link_to "الأعداد", ruby_tutorial_numbers_path, class: "index-link" %></strong>
        <ul>
          <li>العمليات</li>
          <li>الفرق بين العملية <strong class="font-Open-Sans-300">or</strong> و ||</li>
        </ul>
      </li>
      <li><strong><%= link_to "النصوص في روبي", ruby_tutorial_strings_path, class: "index-link" %></strong></li>
      <li><strong><%= link_to "المتغيرات", ruby_tutorial_variables_path, class: "index-link" %></strong></li>
      <li><strong><%= link_to "الملخص الأول", ruby_tutorial_summary_1_path, class: "index-link" %> <sup><span class="glyphicon glyphicon-star" aria-hidden="true"></span></sup></strong></li>
      <li><strong><%= link_to "المجالات", ruby_tutorial_scope_path, class: "index-link" %></strong>
        <ul>
          <li>النطاق العام و المتغيرات العامة</li>
          <li>المتغيرات العامة المضمنة</li>
          <li>النطاق المحلي</li>
        </ul>
      </li>
      <li><strong><%= link_to "الحصول على المدخلات", ruby_tutorial_getting_input_path, class: "index-link" %></strong></li>
      <li><strong><%= link_to "الأسماء", ruby_tutorial_names_path, class: "index-link" %></strong></li>
      <li><strong><%= link_to "الطرق", ruby_tutorial_methods_path, class: "index-link" %></strong>
        <ul>
          <li>طرق العلامة (!)</li>
          <li>الطرق التي تنتهي بـ (؟)</li>
        </ul>
      </li>
      <li><strong><%= link_to "الملخص الثاني", ruby_tutorial_summary_2_path, class: "index-link" %> <sup><span class="glyphicon glyphicon-star" aria-hidden="true"></span></sup></strong></li>
      <li><strong><%= link_to sanitize('روبي <strong class="font-Open-Sans-400">ri tool</strong>'), ruby_tutorial_ruby_ri_tool_path, class: "index-link" %></strong></li>
    </ul>
  </div>
</div>