<div class="panel panel-default beginning">
  <div class="panel-body">
    <p class="text-left">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <%= link_to "فهرس دروس روبي", ruby_tutorial_index_path, class: "btn btn-primary btn-sm" %>
      |
      <%= link_to "التنصيب", ruby_tutorial_installation_path, class: "btn btn-primary btn-sm" %>
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </p>

    <h2 id="title">المقدمة</h2>
    <p class="lead">استخدم هذه الملاحظات للدراسة</p>

    <p>سنتجول في برنامجنا التعليمي خطوة بخطوة في أكواد لغة روبي إلى أن نصل إلى مرحلة من التكامل في البرمجة بروبي ، يمكنك التنقل بين الصفحات بكل سهولة عن طريق الأزرار في الأعلى التي تشير إلى الدرس السابق و التالي .</p>

    <p>كذلك يمكنك بكل بساطة الضغط على <strong><span class="glyphicon glyphicon-book" aria-hidden="true"></span> . دروس روبي</strong> في الأعلى و ستظهر لك قائمة تضم كل دروس روبي في الموقع ، أيضاً تستطيع تجربة البرامج التي سنطبقها في الدروس بكل بساطة على حاسوبك .</p>

    <p>في موقع روبي عربي لا توجد برامج كبيرة ، فقط صغيرة لنفهم اللغة بشكل ممتاز .</p>

    <p>على الرغم من أننا سنناقش في دروسنا هذه روبي إصدار <strong>1.9.3</strong> على منصة ويندوز ( يمكنك إستخدام أي من الإصدارات الأحدث لروبي ) ، ولكن هذه الدروس أيضاً يمكنك تطبيقها على منصة لينكس أو ماك .</p>

    <p class="set-margin-bottom-to-zero">أثناء تنقلك في صفحات موقع روبي عربي ستصادفك ملاحظات توضيحية ( توفر بعض التلميحات و التفسيرات الأكثر تعمق مما ذكر في النص الأساسي ) ستظهر لك بهذا الشكل الموضح بالأسفل .</p>
  </div>
</div>

<div class="panel panel-danger middle">
  <div class="panel-heading">ملاحظة</div>
  <div class="panel-body">
    <p class="set-margin-bottom-to-zero">يمكنك تخطيها ولكنك ستضيع بعض المعلومات المفيدة على نفسك .</p>
  </div>
</div>

<div class="panel panel-default middle">
  <div class="panel-body">
    <p>و عندما يكون هناك برنامج نريد تطبيقه سيظهر اسم البرنامج شبيه لهذا <strong class="font-Open-Sans-400">hello.rb</strong> ، فكل ملفات روبي تنتهي بإمتداد <strong class="font-Open-Sans-400">rb.</strong> .</p>

    <p class="set-margin-bottom-to-zero">وسيظهر الكود الخاص بالبرنامج على النحو الموضح بالأسفل .</p>
  </div>
</div>

<div class="panel panel-primary middle">
  <div class="panel-heading"><strong>hello.rb</strong> <span class="font-DroidKufi-Regular">< اسم الملف الذي يحتوي على الكود</span></div>
  <div class="panel-body set-padding-to-zero">

    <div>
      <div class="syntaxhighlighter ruby">
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td class="gutter">
                <div class="line number1 index0 alt2">1</div>
                <div class="line number2 index1 alt1">2</div>
                <div class="line number3 index2 alt2">3</div>
              </td>

              <td class="code">
                <div class="container">
                  <div class="line number1 index0 alt2"><code class="ruby keyword">def</code> <code class="ruby plain">hello</code></div>
                  <div class="line number2 index1 alt1"><code class="ruby spaces">&nbsp;&nbsp;</code> <code class="ruby plain">puts</code> <code class="ruby string">"hello"</code></div>
                  <div class="line number3 index2 alt2"><code class="ruby keyword">end</code></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<div class="panel panel-default last">
  <div class="panel-body">
    <p>يمكنك تحميل كل البرامج التي سنطبقها في الموقع من خلال الضغط هنا او يمكنك نسخ و لصق الكود من الموقع و تجربته على حاسوبك .</p>

    <p>تذكر عزيزي القارئ انه في روبي يوجد أكثر من طريقة لحل المشكلة نفسها .</p>

    <p>لأفضل عرض للموقع يمكنك إستخدام أحد المتصفحات :</p>

    <center>
      <div style="width: 300px;">
        <ul class="list-group set-padding-right-to-zero">
          <li class="list-group-item
            <%= "active" if browser.chrome? %>">
            <strong class="font-Open-Sans-400">Google Chrome</strong>
          </li>
          <li class="list-group-item
            <%= "active" if browser.firefox? %>">
            <strong class="font-Open-Sans-400">Mozilla Firefox</strong>
          </li>
          <li class="list-group-item
            <%= "active" if browser.ie? %>">
            <strong class="font-Open-Sans-400">Microsoft Internet Explorer</strong>
          </li>
          <li class="list-group-item
            <%= "active" if browser.safari? %>">
            <strong class="font-Open-Sans-400">Safari</strong>
          </li>
          <li class="list-group-item
            <%= "active" if browser.opera? %>">
            <strong class="font-Open-Sans-400">Opera</strong>
          </li>
        </ul>
      </div>
    </center>

    <p>قبل أن تكمل مسيرتك في هذه الدروس قد تواجهك بعض الكلمات التي لا تفهمها ، أتمنى منك التوقف عندها و الذهاب و البحث عنها في محركات البحث و محاولة فهمها بشكل جيد لأنها ستساعدك كثيراً أثناء دراستك للغة روبي ، حتى و لو أضطررت إلى التوقف عند هذه الكلمة ثم العودة إلى هنا ( أوجه لك هذه النصيحة من باب تجربة شخصية ) .</p>

    <p class="text-left set-margin-bottom-to-zero">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <%= link_to "فهرس دروس روبي", ruby_tutorial_index_path, class: "btn btn-primary btn-sm" %>
      |
      <%= link_to "التنصيب", ruby_tutorial_installation_path, class: "btn btn-primary btn-sm" %>
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </p>
  </div>
</div>