<div class="panel panel-default beginning">
  <div class="panel-body">
    <p class="text-left">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <%= link_to "النصوص في روبي", ruby_tutorial_strings_path, class: "btn btn-primary btn-sm" %>
      |
      <%= link_to "الملخص الاول", ruby_tutorial_summary_1_path, class: "btn btn-primary btn-sm" %>
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </p>

    <h2 id="title">المتغيرات</h2>

    <p>إذا كنت تريد تخزين رقم أو نص معين على ذاكرة حاسوبك لتستخدمه فيما بعد في برنامجك ، تحتاج لإعطاء هذا الرقم أو النص اسم معين ، يجب أن لا يتكرر هذا الأسم في برنامجك .</p>

    <p class="set-margin-bottom-to-zero">يتم إطلاق اسم المتغيرات - <strong class="font-Open-Sans-400">variables</strong> - على الأسماء ، أما عندما يتم تغيير قيمة هذا المتغير تسمى هذه العملية التعيين - <strong class="font-Open-Sans-400">assignment</strong>- ، المثال التالي يوضح كيفية تعريف متغير و تعيين قيمة له .</p>
  </div>
</div>

<div class="panel panel-primary middle">
  <div class="panel-heading text-right"><strong class="font-DroidKufi-Regular">تعريف متغير و تعيين قيمة له</strong></div>
  <div class="panel-body set-padding-to-zero">

    <div>
      <div id="highlighter_203498" class="syntaxhighlighter ruby">
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td class="gutter">
                <div class="line number1 index0 alt2">1</div>
                <div class="line number2 index1 alt1">2</div>
              </td>
              <td class="code">
                <div class="container">
                  <div class="line number1 index0 alt2"><code class="ruby plain">s = </code><code class="ruby string">'Hello World!'</code></div>
                  <div class="line number2 index1 alt1"><code class="ruby plain">x = </code><code class="ruby constants">10</code></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<div class="panel panel-danger middle">
  <div class="panel-heading">ملاحظة</div>
  <div class="panel-body">
    <p class="set-margin-bottom-to-zero">المتغيرات المحلية الخاصة ببرنامجك يجب أن تبدأ بشرطة سفلية (_) او حرف صغير ، و يجب أن تتكون بالكامل من حروف و أرقام ، تذكر أيضاً عند تسمية متغيراتك أن لا تعطيها أسماء لكلمات محجوزة من قبل اللغة ، على سبيل المثال الكلمة المحجوزة <strong class="font-Open-Sans-400">end</strong> .</p>
  </div>
</div>

<div class="panel panel-default middle">
  <div class="panel-body">
    <p>كما لاحظتم من المثال ، في روبي لا تحتاج لكتابة كلمة مفتاحية أو كتابة تنسيق نحوي معين لتعريف متغير ، كل ما عليك هو إختيار اسم المتغير بعد ذلك تساويه بالقيمة الذي تريدها له .</p>

    <p class="set-margin-bottom-to-zero">البرنامج التالي يوضح إستعمالات أكثر للمتغيرات مع النصوص .</p>
  </div>
</div>

<div class="panel panel-primary middle">
  <div class="panel-heading"><strong>p011.rb</strong></div>
  <div class="panel-body set-padding-to-zero">

    <div>
      <div id="highlighter_498304" class="syntaxhighlighter ruby">
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td class="gutter">
                <div class="line number1 index0 alt2">1</div>
                <div class="line number2 index1 alt1">2</div>
                <div class="line number3 index2 alt2">3</div>
                <div class="line number4 index3 alt1">4</div>
                <div class="line number5 index4 alt2">5</div>
                <div class="line number6 index5 alt1">6</div>
                <div class="line number7 index6 alt2">7</div>
                <div class="line number8 index7 alt1">8</div>
                <div class="line number9 index8 alt2">9</div>
                <div class="line number10 index9 alt1">10</div>
                <div class="line number11 index10 alt2">11</div>
                <div class="line number12 index11 alt1">12</div>
                <div class="line number13 index12 alt2">13</div>
                <div class="line number14 index13 alt1">14</div>
                <div class="line number15 index14 alt2">15</div>
                <div class="line number16 index15 alt1">16</div>
                <div class="line number17 index16 alt2">17</div>
                <div class="line number18 index17 alt1">18</div>
                <div class="line number19 index18 alt2">19</div>
                <div class="line number20 index19 alt1">20</div>
              </td>
              <td class="code">
                <div class="container">
                  <div class="line number1 index0 alt2"><code class="ruby constants">PI</code> <code class="ruby plain">= </code><code class="ruby constants">3</code><code class="ruby plain">.</code><code class="ruby constants">1416</code></div>
                  <div class="line number2 index1 alt1"><code class="ruby plain">puts </code><code class="ruby constants">PI</code></div>
                  <div class="line number3 index2 alt2">&nbsp;</div>
                  <div class="line number4 index3 alt1"><code class="ruby plain">my_string = </code><code class="ruby string">'I love my city, Benghazi'</code></div>
                  <div class="line number5 index4 alt2"><code class="ruby plain">puts my_string</code></div>
                  <div class="line number6 index5 alt1">&nbsp;</div>
                  <div class="line number7 index6 alt2"><code class="ruby plain">var1 = </code><code class="ruby constants">5</code></div>
                  <div class="line number8 index7 alt1"><code class="ruby plain">var2 = </code><code class="ruby string">'2'</code></div>
                  <div class="line number9 index8 alt2"><code class="ruby plain">puts var1 + var2.to_i</code></div>
                  <div class="line number10 index9 alt1">&nbsp;</div>
                  <div class="line number11 index10 alt2"><code class="ruby plain">s = </code><code class="ruby string">'Hello '</code></div>
                  <div class="line number12 index11 alt1"><code class="ruby plain">s &lt;&lt;</code><code class="ruby string">'World!</code></div>
                  <div class="line number13 index12 alt2"><code class="ruby string">I love this world ...'</code></div>
                  <div class="line number14 index13 alt1"><code class="ruby plain">puts s</code></div>
                  <div class="line number15 index14 alt2">&nbsp;</div>
                  <div class="line number16 index15 alt1"><code class="ruby plain">s = &lt;&lt;</code><code class="ruby string">END_STR</code></div>
                  <div class="line number17 index16 alt2"><code class="ruby string">This is the string</code></div>
                  <div class="line number18 index17 alt1"><code class="ruby string">And a second line</code></div>
                  <div class="line number19 index18 alt2"><code class="ruby string">END_STR</code></div>
                  <div class="line number20 index19 alt1"><code class="ruby plain">puts s</code></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<div class="panel panel-primary middle">
  <div class="panel-heading text-right"><strong class="font-DroidKufi-Regular">ناتج التنفيذ</strong></div>
  <div class="panel-body set-padding-to-zero">

    <div>
      <div id="highlighter_851678" class="syntaxhighlighter bash">
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td class="gutter">
                <div class="line number1 index0 alt2">1</div>
                <div class="line number2 index1 alt1">2</div>
                <div class="line number3 index2 alt2">3</div>
                <div class="line number4 index3 alt1">4</div>
                <div class="line number5 index4 alt2">5</div>
                <div class="line number6 index5 alt1">6</div>
                <div class="line number7 index6 alt2">7</div>
                <div class="line number8 index7 alt1">8</div>
                <div class="line number9 index8 alt2">9</div>
                <div class="line number10 index9 alt1">10</div>
              </td>
              <td class="code">
                <div class="container">
                  <div class="line number1 index0 alt2"><code class="bash plain">C:\برامج روبي&gt; ruby p011.rb</code></div>
                  <div class="line number2 index1 alt1"><code class="bash plain">3.1416</code></div>
                  <div class="line number3 index2 alt2"><code class="bash plain">I love my city, Benghazi</code></div>
                  <div class="line number4 index3 alt1"><code class="bash plain">7</code></div>
                  <div class="line number5 index4 alt2"><code class="bash plain">Hello World!</code></div>
                  <div class="line number6 index5 alt1"><code class="bash plain">I love this world ...</code></div>
                  <div class="line number7 index6 alt2"><code class="bash plain">This is the string</code></div>
                  <div class="line number8 index7 alt1"><code class="bash plain">And a second line</code></div>
                  <div class="line number9 index8 alt2">&nbsp;</div>
                  <div class="line number10 index9 alt1"><code class="bash plain">C:\برامج روبي&gt;</code></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<div class="panel panel-default middle">
  <div class="panel-body">
    <p>بالتأكيد أنك لاحظت وجود أشياء لم نذكرها خلال دروسنا في البرنامج الأخير ، لنبدأ بشرحها الأن .</p>

    <p>بدايةً ذكرنا في شروط تسمية المتغيرات أن لا نستخدم الحروف الكبيرة ، لكن قمنا بإستخدامها عندما عرّفنا المتغير <strong class="font-Open-Sans-400">PI</strong> لكن هذا ممكن عندما تقوم بتعريف متغير ثابت ، فالمتغيرات الثابته تكون حروفها كلها كبيرة ( الثوابت هي المتغيرات التي لا تتغير قيمتها من بداية تشغيل البرنامج إلى نهايته ) وبعد ذلك قمنا بطباعة هذا المتغير .</p>

    <p>وقمنا كذلك بتعريف متغير <strong class="font-Open-Sans-400">my_string</strong> وقمنا بإسناد قيمة نصية له و قمنا بطباعته بكل بساطه .</p>

    <p>في الأسطر التي تليها قمنا بتعريف إثنان من المتغيران <strong class="font-Open-Sans-400">var1 , var2</strong> ، وضعنا في الأول قيمة رقمية و في الثاني قيمة نصية ، و قمنا بطباعة المجموع بينهما ، لكن إستخدمنا الدالة <strong class="font-Open-Sans-400">to_i</strong> مع المتغير الثاني الذي يحتفظ بالقيمة النصية ، لنحول القيمة النصية و التي هي 2 إلى قيمة رقمية ، لأنك إذا قمت بالجمع بين قيمة رقمية في المتغير الاول و قيمة نصية في المتغير الثاني ستحصل على خطأ في التنفيذ .</p>

    <p>يوجد في روبي دوال مشابهة للدالة <strong class="font-Open-Sans-400">to_i</strong> يمكنك التحويل بها من نوع بيانات إلى آخر ، نذكر منها :</p>

    <center>
      <div style="width: 300px;">
        <ul class="list-group set-padding-right-to-zero">
          <li class="list-group-item">
            <h4 class="list-group-item-heading text-left"><strong class="font-Open-Sans-400">to_i</strong></h4>
            <p class="list-group-item-text text-right">للتحويل إلى قيمة رقمية</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading text-left"><strong class="font-Open-Sans-400">to_f</strong></h4>
            <p class="list-group-item-text text-right">للتحويل إلى قيمة رقمية عشرية</p>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading text-left"><strong class="font-Open-Sans-400">to_s</strong></h4>
            <p class="list-group-item-text text-right">للتحويل إلى قيمة نصية</p>
          </li>
        </ul>
      </div>
    </center>

    <p>بعد ذلك قمنا بإستخدام العملية <span style="font-family: Tahoma;">>></span> ، حيث قمنا بتعريف المتغير <strong class="font-Open-Sans-400">s</strong> ليحتوي على قيمة نصية ، و قمنا بعد ذلك بإضافة نص آخر لهذا المتغير عن طريق العملية <span style="font-family: Tahoma;">>></span> كما هو موضح في البرنامج ، و يمكننا عن طريق العملية <span style="font-family: Tahoma;">>></span> أن نقوم بإعطاء القيمة النصية للمتغير على أكثر من سطر كما شاهدتم .</p>

    <p class="set-margin-bottom-to-zero">أما في الختام قمنا بإجراء نفس العملية السابقة لكن بطريقة أخرى ، حيث قمنا بإسناد قيمة جديدة للمتغير <strong class="font-Open-Sans-300">s</strong> عن طريق العملية <span style="font-family: Tahoma;">>></span> ، هذه القيمة كانت بين كلمتان متشابهتان و على أكثر من سطر ، يمكنك إستخدام أي كلمة تخطر ببالك للإشارة إلى النص الذي تريد تخزينه داخل المتغير ، و يمكنك وضعه على سطر واحد أو أكثر ، أيضاً الحروف المستخدمه داخل الكلمة غير مهمه سواء كانت كبيرة أو صغيرة ، لكن من المهم أن تكون متطابقة مع شقيقتها الأخرى .</p>
  </div>
</div>

<div class="panel panel-danger middle">
  <div class="panel-heading">ملاحظة</div>
  <div class="panel-body">
    <p>في المثال التالي : <strong class="font-Open-Sans-400">x = "200.0".to_f</strong>
      <br>
      النقطة تعني أننا قمنا بإستدعاء الدالة <strong class="font-Open-Sans-400">to_f</strong> ليتم تطبيقها على القيمة <strong class="font-Open-Sans-400">"200.0"</strong> ، بمعنى أنك عندما تشاهد النقطة في أي مكان بهذه الطريقة داخل أي مشروع تذكر أنه الدالة التي على اليمين تم إستدعاءها ليتم تطبيقها على القيمة أو المتغير الذي على اليسار .
    </p>
  </div>
</div>

<div class="panel panel-default last">
  <div class="panel-body">
    <p>لقد قمنا بجمع <%= link_to "أهم النقاط", ruby_tutorial_summary_1_path %> التي تحتاج لتذكرها بعد إكمالك الدروس التالية : <%= link_to "المقدمة", ruby_tutorial_introduction_path %> ، <%= link_to "التنصيب", ruby_tutorial_installation_path %> ، <%= link_to "المقدمة", ruby_tutorial_introduction_path %> ، <%= link_to "برنامجك الأول", ruby_tutorial_first_program_path %> ، <%= link_to "مميزات روبي", ruby_tutorial_features_path %> ، <%= link_to "الأعداد", ruby_tutorial_numbers_path %> ، <%= link_to "النصوص في روبي", ruby_tutorial_strings_path %> و <%= link_to "المتغيرات", ruby_tutorial_variables_path %> .</p>

    <p class="text-left set-margin-bottom-to-zero">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <%= link_to "النصوص في روبي", ruby_tutorial_strings_path, class: "btn btn-primary btn-sm" %>
      |
      <%= link_to "الملخص الاول", ruby_tutorial_summary_1_path, class: "btn btn-primary btn-sm" %>
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </p>
  </div>
</div>